.navbar {
  .image.is-32x32 img {
    cursor: pointer;
    border-radius: 50%;
    height: 50%;
    width: 50%;
  

  }

  .navbar-dropdown {
    border-radius: 6px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  }
}