<!-- navbar.component.html -->
<nav class="navbar">
  <div class="navbar-brand">
    <a routerLink="/admin">
      <img src="/images/Logo.svg" alt="Gestock Logo">
    </a>
  </div>

  <div class="navbar-end ms-auto">
    <div class="navbar-item has-dropdown is-hoverable">
      <div class="user-profile">
        <img class="avatar" src="/images/download.png" alt="User Avatar">
        <div class="user-info d-none d-md-flex">
          <span>Administrador</span>
          <small>Gestock Team</small>
        </div>
        <i class="fas fa-chevron-down ms-2 small text-muted"></i>
      </div>

      <div class="navbar-dropdown is-right">
        <a class="navbar-item" (click)="logout()">
          <i class="fas fa-sign-out-alt"></i>
          <span>Log Out</span>
        </a>
      </div>
    </div>
  </div>
</nav>