/* Login page styling */
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

button.btn-primary {
  background: var(--primary);
  color: #fff;
  transition: all 0.3s ease;
  &:hover {
    background: var(--primary-hover);
  }
}