.menu-sidebar {
  width: 70px;
  background-color: var(--bg-surface);
  height: calc(100vh - 70px);
  border-right: 1px solid var(--border-light);
  position: fixed;
  top: 70px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
 


  .menu-list {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin: 1.5rem 0;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #4a4a4a;
        font-size: 1.5rem;
        transition: background-color 0.2s, color 0.2s;
        width: 50px;
        height: 50px;
        border-radius: 10px;

        &:hover {
          background-color: #3498db;
          color: white;
        }

        &.is-active {
          background-color: #3498db;
          color: white;
        }
      }
    }
  }
}
