<!-- sidebar.component.html -->
<aside class="menu-sidebar">
  <ul class="menu-list">
    <li>
      <a routerLink="/" routerLinkActive="is-active">
        <span class="icon"><i class="fas fa-home"></i></span>
      </a>
    </li>
    <li>
      <a routerLink="/compra" routerLinkActive="is-active">
        <span class="icon"><i class="fas fa-truck-loading"></i></span>
      </a>
    </li>
    <li>
      <a routerLink="/venda" routerLinkActive="is-active">
        <span class="icon"><i class="fas fa-dollar-sign"></i></span>
      </a>
    </li>
    <li>
      <a routerLink="/inventario" routerLinkActive="is-active">
        <span class="icon"><i class="fas fa-boxes"></i></span>
      </a>
    </li>
    <li>
      <a routerLink="/relatorio" routerLinkActive="is-active">
        <span class="icon"><i class="fas fa-chart-line"></i></span>
      </a>
    </li>
  </ul>
</aside>
