<main>
  <section class="form-section">
    <img src="/images/Logo.svg" alt="Logotipo"/>
    <h2>{{ title }}</h2>

    
    <ng-content></ng-content>

    <button class="btn-primary" (click)="submit()">{{ primarybtnText }}</button>

    <div class="divider">
      <div></div>
      <span>ou</span>
      <div></div>
    </div>

    <button class="btn-secondary" (click)="secondaryClick()">
      {{ secondarybtnText }}
    </button>
  </section>

  <section class="main-section">
    <h1>Mantenha o controle</h1>
    <img src="/images/main-ilustration.svg" alt="Logotipo"/>
  </section>
</main>

